/* Reset default browser styles */
body,
h1,
h2,
p,
ul,
nav,
footer {
    margin: 0;
    padding: 0;
}

/* Set default font and background */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark gray text color */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Header styles */
header {
    background-color: #ffffff; /* White */
    color: rgb(0, 0, 0); /* Black text color */
    padding: 20px;
}

/* Navigation styles */
nav {
    background-color: #f0812c; /* Orange */
    padding: 10px;
}

nav a {
    color: white; /* White text color for links */
    text-decoration: none; /* Remove underline from links */
    margin: 0 10px; /* Add spacing between links */
}

nav a:hover {
    text-decoration: underline; /* Underline links on hover */
}

/* Section styles */
section {
    background-color: #fff; /* White background for sections */
    padding: 20px;
    margin: 20px 0; /* Add margin between sections */
    border-radius: 10px; /* Rounded corners for sections */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Drop shadow effect */
}

h2 {
    color: #333; /* Dark gray text color for section headings */
    margin-bottom: 10px; /* Add spacing below headings */
}

ul {
    /* list-style: none; Remove default list styles */
}

ul li {
    margin-bottom: 10px; /* Add spacing between list items */
}

/* Footer styles */
footer {
    background-color: #106815; /* Green */
    color: white; /* White text color */
    padding: 10px;
    position: fixed; /* Fix footer to the bottom of the viewport */
    width: 100%; /* Full width footer */
    bottom: 0; /* Align footer to the bottom of the viewport */
}

/* Dark mode styles */
.dark-mode {
    background-color: #333; /* Dark gray background */
    /* color: #f0f0f0; Light gray text color */
}

.dark-mode header{
    background-color: black;
    color: white;
}

.dark-mode section {
    background-color: black;
    color: white;
}

.dark-mode a {
    color: yellow;
}

.dark-mode h2 {
    color: white;
}

.dark-mode nav {
    background-color: #555; /* Dark gray background for navigation */
}

.dark-mode nav a {
    color: #f0f0f0; /* Light gray text color for links in dark mode */
}

.dark-mode footer {
    background-color: #222; /* Dark gray background for footer */
}
